beautifulsoup4==4.9.3
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
contextvars==2.4
cymem==2.0.5
dataclasses
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
idna==2.10
immutables==0.15
Jinja2==3.0.1
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.19.5
pandas
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pydantic==1.7.4
pyparsing==2.4.7
requests==2.25.1
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.1.0
spacy-legacy==3.0.6
srsly==2.4.1
thinc==8.0.5
tqdm~=4.19.4
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.5
wasabi==0.8.2
zipp==3.4.1
pyspark
findspark